#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
  }
  
  #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
  }
  #navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
  }
  
  #navbar ul li{ 
    list-style: none;
    font-size: 1rem;
  }
  
  #navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  #navbar ul li a:hover{
    color: black;
    background-color: white;
  }
  #navbar ul li a:click{
    color: black;
    background-color: white;
  }
  #articles{
    margin: 30px;
    display: flex;
    float:left;
}
#articles .box{ 
    border: 2px solid brown;
    padding: 24px;
    margin: 2px 50px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    opacity: 40;
}

#articles .box img{ 
   height: 120px;
   margin: auto;
   display: block;
}

#articles .box input{
    
    text-align: center;
    font-size: 20px;
    color: white;
    background:green;
    border-radius: 2mm;
    border: solid green;
    
}
body{
    background-color:blue;
     height: 100vh;
     background-size:cover;
     
   
   
}
marquee {
    color: white;
    
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
}
#logo{
  margin: 1px 0.1px;
  height: 22px;
  width:35px;
  margin-left: 12px;
}