<body style="background-image: url(app/img/antenna.jpg);">
    <nav id="navbar">
     
        <ul>
          <a class="navbar-brand" style="color:yellow" href="#">ESD PROJECT</a>
          <li class="item"><a [routerLink]="['/userpage']" routerLinkActive="active">BACK</a></li>
            <li class="item"><a [routerLink]="['/homepage']" routerLinkActive="active">LOGOUT</a></li>
            
        </ul>
      </nav>
    
    <marquee><h5> Your Heart Has A Powerful Little Antenna And It's Vibrations Can Be Felt Throughout The Universe </h5></marquee>
    
    <iframe src="https://www.youtube.com/embed/JCgAK-9RzGQ"></iframe>
    

    
   <iframe  src="https://www.youtube.com/embed/MUUWsi_o2d0?list=PLgwJf8NK-2e6A4Mtxud6xPHE1UecxWsHW"></iframe>
   
   <iframe  src="https://www.youtube.com/embed/1JZG9x_VOwA">
   </iframe>
   <section>
    
    <iframe src="https://www.youtube.com/embed/-F7KYLO4Bkg"></iframe>

         
    <iframe  src="https://www.youtube.com/embed/VaqbiftCFU4"></iframe>
    


    <iframe  src="https://youtube.com/embed/rCisiEMAvro?list=PLgwJf8NK-2e7tzLIDL4aXUbtRFY3ykmkT">
    </iframe> </section>
    <footer style="position: fixed;bottom: 0;left: 0;width: 100%;">
    
        <div class="footer"> &copy; 2020 Copyright @
        <a href="index.html" style="color:white" > ESD Project </a>
        </div> </footer>
</body>